In [34]:
import pickle
# https://www.kaggle.com/submarineering/submarineering-even-better-public-score-until-now
ens_file = 'all_xgb_sub_fold_3_rnd_42_1244.csv' # 1244
other_files = [
    'vgg_new.csv', #1400
    #'submission54.csv', #1326
    '../results/cnn_1_aug_1_fold8.csv',
    '../results/cnn_2_aug_1_fold8.csv',
    '../results/cnn_3_aug_1_fold8.csv',
    '../results/cnn_5_aug_1_fold8.csv',
    #'../results/cnn_4_aug1_best_acc_sub.csv',
    '../results/incept_aug1_sub.csv',
    '../results/resnet_aug1_sub.csv',
    '../results/xception_aug1_sub.csv',
    #'../results/vgg_aug1_sub.csv',
    '../features/other_model_gbrt2.pkl',
    '../features/other_model_lgb2.pkl',
    '../features/other_model_lr2.pkl',
    '../features/other_model_rf2.pkl',
    '../features/other_model_xgb2.pkl',
]

import pandas as pd
best_df = pd.read_csv(ens_file)
best_df.head()

         id  is_iceberg
0  5941774d    0.016633
1  4023181e    0.721887
2  b20200e4    0.041840
3  e7f018bb    0.997654
4  4371c8c3    0.099043

In [35]:
other_res = []
for f in other_files:
    if f.endswith('csv'):
        other_res.append(pd.read_csv(f).is_iceberg.values)
    else:
        with open(f,'rb') as fin:
            a,b = pickle.load(fin)
            other_res.append(b.flatten())
    
import numpy as np
other_res = np.vstack(other_res).T

In [36]:
concat_df = pd.DataFrame(other_res,columns=['a{}'.format(i) for i in range(len(other_files))])
concat_df['base'] = best_df.is_iceberg
concat_df.head()

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,base
0,0.030369,0.195756,0.134401,0.144608,0.296872,0.093266,0.209001,0.038126,0.125865,0.141511,1.430462e-02,0.389589,0.134683,0.016633
1,0.364333,0.986309,0.861850,0.919460,0.961062,0.963237,0.701245,0.899046,0.646595,0.945121,1.000000e+00,0.664402,0.878118,0.721887
2,0.017298,0.936076,0.572117,0.543071,0.213261,0.185977,0.055742,0.327146,0.562446,0.312999,7.389628e-38,0.378330,0.536110,0.041840
3,0.998199,0.998148,0.995843,0.996963,0.998587,0.999560,0.996637,0.973960,0.994916,0.982090,9.992191e-01,0.942157,0.979548,0.997654
4,0.657598,0.800216,0.006921,0.064853,0.419967,0.466361,0.009555,0.401795,0.899276,0.923296,1.000000e+00,0.689455,0.876706,0.099043

In [37]:
concat_df.corr()

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,base
a0,1.000000,0.531075,0.687510,0.610146,0.677998,0.765519,0.734071,0.778208,0.557971,0.534747,0.519477,0.646218,0.518119,0.809700
a1,0.531075,1.000000,0.805236,0.799597,0.762765,0.696394,0.586376,0.684978,0.712897,0.795483,0.715013,0.806122,0.788570,0.695884
a2,0.687510,0.805236,1.000000,0.962575,0.887545,0.787986,0.768115,0.825611,0.718179,0.751659,0.621216,0.757281,0.745628,0.878740
a3,0.610146,0.799597,0.962575,1.000000,0.866912,0.715269,0.707056,0.760176,0.706119,0.737775,0.577931,0.726991,0.739412,0.822113
a4,0.677998,0.762765,0.887545,0.866912,1.000000,0.842154,0.805658,0.843053,0.684449,0.742016,0.680534,0.760602,0.720878,0.864775
a5,0.765519,0.696394,0.787986,0.715269,0.842154,1.000000,0.922659,0.947634,0.611294,0.650376,0.690432,0.738159,0.625591,0.848749
a6,0.734071,0.586376,0.768115,0.707056,0.805658,0.922659,1.000000,0.929019,0.580110,0.582144,0.601753,0.672472,0.573842,0.811729
a7,0.778208,0.684978,0.825611,0.760176,0.843053,0.947634,0.929019,1.000000,0.621297,0.647414,0.648616,0.734875,0.625761,0.866018
a8,0.557971,0.712897,0.718179,0.706119,0.684449,0.611294,0.580110,0.621297,1.000000,0.906386,0.703034,0.849713,0.937020,0.758000
a9,0.534747,0.795483,0.751659,0.737775,0.742016,0.650376,0.582144,0.647414,0.906386,1.000000,0.805296,0.910549,0.982301,0.750814
a10,0.519477,0.715013,0.621216,0.577931,0.680534,0.690432,0.601753,0.648616,0.703034,0.805296,1.000000,0.802869,0.777537,0.685578
a11,0.646218,0.806122,0.757281,0.726991,0.760602,0.738159,0.672472,0.734875,0.849713,0.910549,0.802869,1.000000,0.902301,0.787172
a12,0.518119,0.788570,0.745628,0.739412,0.720878,0.625591,0.573842,0.625761,0.937020,0.982301,0.777537,0.902301,1.000000,0.735518
base,0.809700,0.695884,0.878740,0.822113,0.864775,0.848749,0.811729,0.866018,0.758000,0.750814,0.685578,0.787172,0.735518,1.000000

In [38]:
concat_df.corr().mean()

# a0      0.640213
# a1      0.775139
# a2      0.752027
# a3      0.775800
# a4      0.794752
# a5      0.766002
# a6      0.741070
# a7      0.785623
# a8      0.770391
# a9      0.744807
# a10     0.761894
# a11     0.697090
# a12     0.763554
# a13     0.766731
# base    0.641168
# dtype: float64
# choose a0,a2,a6,a9,others 1, score 1322
# use all , other 2nd version, score 1316

a0      0.669340
a1      0.741456
a2      0.799806
a3      0.766576
a4      0.795667
a5      0.774444
a6      0.733929
a7      0.779476
a8      0.739033
a9      0.771211
a10     0.702092
a11     0.792523
a12     0.762320
base    0.808199
dtype: float64

In [39]:

print(other_res.shape)
other_median = np.median(other_res,axis=1)
print(other_median[:5])
other_mean = np.mean(other_res,axis=1)
print(other_mean[:5])

(8424, 13)
[ 0.13468305  0.89904605  0.32714606  0.99663682  0.65759801]
[ 0.14987305  0.83005994  0.35696709  0.98890974  0.55507681]

In [40]:
concat_sub = concat_df.copy()
concat_sub['is_iceberg_base'] = best_df['is_iceberg']
all_files_cnt = len(other_files)+1
concat_sub['is_iceberg_max'] = concat_sub.iloc[:, 0:all_files_cnt].max(axis=1)
concat_sub['is_iceberg_min'] = concat_sub.iloc[:, 0:all_files_cnt].min(axis=1)
concat_sub['is_iceberg_mean'] = concat_sub.iloc[:, 0:all_files_cnt].mean(axis=1)
concat_sub['is_iceberg_median'] = concat_sub.iloc[:, 0:all_files_cnt].median(axis=1)

concat_sub.head()

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,base,is_iceberg_base,is_iceberg_max,is_iceberg_min,is_iceberg_mean,is_iceberg_median
0,0.030369,0.195756,0.134401,0.144608,0.296872,0.093266,0.209001,0.038126,0.125865,0.141511,1.430462e-02,0.389589,0.134683,0.016633,0.016633,0.389589,1.430462e-02,0.140356,0.134542
1,0.364333,0.986309,0.861850,0.919460,0.961062,0.963237,0.701245,0.899046,0.646595,0.945121,1.000000e+00,0.664402,0.878118,0.721887,0.721887,1.000000,3.643330e-01,0.822333,0.888582
2,0.017298,0.936076,0.572117,0.543071,0.213261,0.185977,0.055742,0.327146,0.562446,0.312999,7.389628e-38,0.378330,0.536110,0.041840,0.041840,0.936076,7.389628e-38,0.334458,0.320073
3,0.998199,0.998148,0.995843,0.996963,0.998587,0.999560,0.996637,0.973960,0.994916,0.982090,9.992191e-01,0.942157,0.979548,0.997654,0.997654,0.999560,9.421567e-01,0.989534,0.996800
4,0.657598,0.800216,0.006921,0.064853,0.419967,0.466361,0.009555,0.401795,0.899276,0.923296,1.000000e+00,0.689455,0.876706,0.099043,0.099043,1.000000,6.920645e-03,0.522503,0.561979

In [41]:
cutoff_lo = 0.8
cutoff_hi = 0.2
concat_sub['is_iceberg'] = np.where(np.all(concat_sub.iloc[:,0:all_files_cnt] > cutoff_lo, axis=1), 
                                    concat_sub['is_iceberg_max'], 
                                    np.where(np.all(concat_sub.iloc[:,0:all_files_cnt] < cutoff_hi, axis=1),
                                             concat_sub['is_iceberg_min'], 
                                             concat_sub['is_iceberg_base']))
#concat_sub['is_iceberg'] = np.clip(concat_sub['is_iceberg'].values, 0.001, 0.999)
concat_sub['id'] = best_df['id']
concat_sub[['id', 'is_iceberg']].to_csv('stack_minmax_bestbase3.csv', 
                                        index=False)

concat_sub[['id', 'is_iceberg']].head(10)

         id    is_iceberg
0  5941774d  1.663269e-02
1  4023181e  7.218869e-01
2  b20200e4  4.184009e-02
3  e7f018bb  9.995600e-01
4  4371c8c3  9.904339e-02
5  a8d9b1fd  1.527052e-01
6  29e7727e  2.950247e-04
7  92a51ffb  9.999459e-01
8  c769ac97  6.185342e-09
9  aee0547d  1.118503e-12

In [42]:
diff_res = concat_sub['is_iceberg']-concat_sub['base']
print(type(diff_res))
cnt = np.where(diff_res!=0)
print(cnt[0].shape)
print(concat_sub['is_iceberg'].std())

<class 'pandas.core.series.Series'>
(1743,)
0.39494156411

In [43]:
# 0.75,0.25 --> 1243
# 0.85,0.15 --> 1231  
cutoff_lo = 0.85
cutoff_hi = 0.15
concat_sub['is_iceberg'] = np.where(np.all(concat_sub.iloc[:,0:all_files_cnt] > cutoff_lo, axis=1), 
                                    concat_sub['is_iceberg_max'], 
                                    np.where(np.all(concat_sub.iloc[:,0:all_files_cnt] < cutoff_hi, axis=1),
                                             concat_sub['is_iceberg_min'], 
                                             concat_sub['is_iceberg_base']))
#concat_sub['is_iceberg'] = np.clip(concat_sub['is_iceberg'].values, 0.001, 0.999)
concat_sub['id'] = best_df['id']
concat_sub[['id', 'is_iceberg']].to_csv('stack_minmax_bestbase4.csv', 
                                        index=False)

concat_sub[['id', 'is_iceberg']].head(10)

         id    is_iceberg
0  5941774d  1.663269e-02
1  4023181e  7.218869e-01
2  b20200e4  4.184009e-02
3  e7f018bb  9.995600e-01
4  4371c8c3  9.904339e-02
5  a8d9b1fd  1.527052e-01
6  29e7727e  2.950247e-04
7  92a51ffb  9.999459e-01
8  c769ac97  6.185342e-09
9  aee0547d  1.118503e-12

In [44]:
diff_res = concat_sub['is_iceberg']-concat_sub['base']
print(type(diff_res))
cnt = np.where(diff_res!=0)
print(cnt[0].shape)
print(concat_sub['is_iceberg'].std())

<class 'pandas.core.series.Series'>
(1500,)
0.394639042807